name: mainnet

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker_build_php
        uses: docker/build-push-action@v2
        with:
          push: true
          build-args: mode="mainnet"
          tags: killianh/casperholders:front

      - uses: azure/k8s-set-context@v1
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBE_CONFIG }}
        id: setcontext

      - uses: Azure/k8s-deploy@v1.4
        with:
          namespace: 'casperholders'
          manifests: |
            kubernetes/mainnet/https.yml
            kubernetes/mainnet/issuer.yml
            kubernetes/mainnet/deployment.yml
            kubernetes/mainnet/service.yml
            kubernetes/mainnet/ingress.yml
            kubernetes/mainnet/certificate.yml