name: tests

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          build: yarn build
          start: yarn serve
          wait-on: http://localhost:8080
          browser: chrome
          spec: tests/e2e/specs/offlinePaths/*.js
        env:
          VUE_APP_FAKE_KEY: ${{ secrets.VUE_APP_FAKE_KEY }}
          VUE_APP_FAKE_VALIDATOR_KEY: ${{ secrets.VUE_APP_FAKE_VALIDATOR_KEY }}
          VUE_APP_E2E: true
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: cypress-screenshots
          path: tests/e2e/screenshots
      - uses: codecov/codecov-action@v2
